.cont_remate {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    margin: 3% 0 0 0;
}

footer {
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    padding: 12px 0px;
    text-align: center;
}

.cont_info-remate {
    vertical-align: middle;
    display: inline-block;
    margin: 0% 0.5% 0% 0%;
}

.cont_info-remate p {
    color: #5f5f5f;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}