body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
fieldset,img {
	border: 0;
	vertical-align: middle;
}
a {
	text-decoration:none;
}
strong{
	font-weight:bold
}

ol,ul {
	list-style:none;
}

input:focus

{
	outline: 0;
}

img
{
	max-width: 100%;
}

/* -------------------------------------------------- ESTILOS LOGUEO -------------------------------------------------*/


#cont_admin

{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 4% 0 0;
    box-sizing: border-box;
    background: #000 url(../media/fondo-login.jpg);
    background-size: cover;
    min-height: 100vh;
}
/*******************
SELECTION STYLING
*******************/

.logo_admin

{
	text-align: center;
	margin:10px;
}

.logo_admin img
{
    max-width: 53%;
    margin: 6% 0% 6% 0%;
}

::selection {
	color: #fff;
	background: #fff; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #fff; /* Firefox */
}

/*******************
BODY STYLING
*******************/
body {
	background: #EEE;
	font-family: sans-serif;
	font-weight:300;
	text-align: left;
	text-decoration: none;
}




/* --------------------------------- TEXTO DE ALERTA -----------------------------------*/

.validacion

{
	font-size: 14px;
	color: #D90000;
	margin: 5px 0;
}


/* --------------------------------- TEXTO DE ALERTA -----------------------------------*/


/*******************
LOGIN FORM
*******************/

.login-form {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 0px 20px 10px 20px;
}

.login-form .header h1 {
	font-family: sans-serif;
	font-weight: 100;
	font-size: 1.3em;
	line-height:34px;
	color: #444;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.login-form .header p  {
    font-size: 14px;
    line-height: 16px;
    color: #ffff;
    text-align: center;
    margin: 3% 0% 1.5% 0%;
    position: absolute;
    top: 21%;
    left: -31px;
    background: #255a7e;
    padding: 3%;
    font-weight: 500;
}

/*******************
CONTENT
*******************/

.login-form .content {
    padding: 0 23px;
    text-align: center;
    position: relative;
}

/* Input field */
.login-form .content .input {
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    background: #e8e8e8;
    border: 0;
    border-radius: 0;
}
.login-form .content .username{
    background: #e8e8e8 url(../media/Icon1.png) no-repeat 96%;
    background-size: 23px;
}
.login-form .content .password {
    background: #e8e8e8 url(../media/Icon2.png) no-repeat 96%;
    background-size: 23px;
}
/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 15px;
}

.login-form .content .input:hover {
	background: #f4f4f4;
	color: #414848;
}

.login-form .content .input:focus {
	background: #f4f4f4;
	color: #414848;

	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    }

.user-icon {
    top: 8px;
    background: url(../media/user.png) no-repeat center;
    opacity: 0;
}

.pass-icon {
	bottom:8px;
	background:url(../media/unlok.png) no-repeat center;
    opacity: 0;
}

.content input:focus + div{
	left: -47px;
	z-index: 1;
    opacity: 10;
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
}

/* Animation */
.input, .user-icon, .pass-icon, .boton, .register {
	transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
}

/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 0 25px 25px;;
}

/* Login boton */
.login-form .footer .boton {
    width: 100%;
    padding: 19px 25px;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    border: 1px solid #007AB5;
    cursor: pointer;
    background: #007AB5;
    font-weight: 600;
    letter-spacing: 1px;
}

.login-form .footer .boton:hover {
	border: 1px solid #002F67;
    background: #002F67;
}

.login-form .footer .boton:focus {
	position: relative;
	bottom: -1px;
}



.remate_admin .logo_remate

{

	width: 100%;
	text-align: center;
}

.remate_admin .logo_remate ul li

{
	display: inline-block;
	*display: inline-block;
	width: 42px;
	margin: 0 5px;
}

.remate_admin .logo_remate img
{
	max-width: 100%;
}

.remate_admin .derechos
{
	width: 100%;
	margin: 15px 0;
}

.remate_admin .derechos p{
    text-align: center;
    color: #085988;
    font-size: 13px;
    width: 100%;
    margin: 30px 0;
}

.remate_admin .derechos p a{
	color:#000;
}

.remate_admin .derechos p a:hover{
	text-decoration: underline;
}

.remate_admin .derechos p a img{
	width: 8%;
    vertical-align: middle;
    margin: -0.5% 0 0 1.5%;
}

.info_contacto{
    padding: 1%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 2.5% 0% 0% 0%;
    position: absolute;
    left: 0;
    bottom: 4px;
}

 .info_contacto div{
	width: 12%;
	margin: 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.info_contacto img{
	width: 100%;
}

.info_contacto .txt{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
}


.bloque_superior

{
	margin: 0 0 40px 0;
    text-align: left;
}

.bql_derecho_admin
{
    padding: 0;
    margin: 0 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 2% 0% 0% 0%;
}

.bql_derecho_admin ul{
    text-align: left;
}

.bql_derecho_admin ul li

{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    margin: 0;
}

.bql_derecho_admin ul li:nth-child(2n){
    margin: 2% 0% 4% 0%;
}

.bql_derecho_admin ul li img{
    float: left;
    width: 22%;
    margin: 0% 7% 0% 0%;
}
.bql_derecho_admin ul li:first-child img{
    margin: -4% 7% 0% 0%;
    width: 26%;
}

.bql_derecho_admin ul li h2

{
    color: #fff;
    font-size: 16px;
    margin: 3px 0px 10px 0px;
}

.bql_derecho_admin ul li p

{
    color: #fff;
    font-size: 14px;
    margin: 0 0 5px 0;
}

/* -------------------------------------------------- ESTILOS LOGUEO -------------------------------------------------*/


.txt_pla{
    text-align: left;
    color: #FFF;
    font-size: 1.7em;
    padding: 0% 0% 0% 9%;
    background: url(../media/internet.svg) no-repeat 0% 0%;
    background-size: contain;
    margin: 2% 0% 6% 0%;
}
.txt_pla2{
    color: #949494;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.5em;
    margin: 0% 0% 4% 0%;
    padding: 0 4%;
}
.txt_pla2 a{
    color: #07356b;
}
#cont_admin .cont_tamano{
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    width: 70%;
    height: 92vh;
    padding: 3% 0% 0% 0%;
}

#wrapper {
    width: 30%;
    margin: 0;
    display: inline-block;
    float: left;
    left: 0;
}
.login-form {
    width: 100%;
    position: relative;
    background: #FFF;
    border: 1px solid #fff;
    box-shadow: 3px 6px 9px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 6px 9px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.79);
}
.logo_admin {
    text-align: center;
    margin: 10px;
}
.bql_derecho_admin  h1{
    color: #fff;
    text-align: left;
    font-size: 1.5em;
    margin: 10px 0 23px 0;

}
.logo_admin{
        font-size: 0.8em;
}
.captcha_admin p{
        margin: 0;
}
.captcha_admin .input_admin{
        width: 55%;
    display: inline-block;
}
.captcha_admin .input_admin input{
        border-radius: 0;
    padding: 23px;

}
#wrapper .login-form .footer input{
    display: block;
    width: 100%;
    padding: 17px;
    border-radius: 0;
    background: #125570;
    border: 1px solid #125570;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 600;
    margin: 15px 0 0 0;
}
#wrapper .login-form .footer input:hover{
    background: #4f6f97 ;
}
.info_contacto .txt p{
    font-size: 13px;
}
.bql_derecho_admin:before{
    content: '';
    width: 50px;
    height: 50px;
    background: url(../media/logo.png) no-repeat 0;
    position: absolute;
    top: 45%;
    left: -94px;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(https://i.imgur.com/3Ad4Atf.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh
}

nav {
    position: fixed;
    width: 60px;
    margin-top: 150px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4)
}

nav ul {
    margin-top: 0;
    margin-bottom: 0rem
}

nav li {
    height: 45px;
    position: relative
}

nav li a {
    color: #fff !important;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
    text-decoration: none !important
}

nav li:nth-child(1) a {
    background: #4267B2
}

nav li:nth-child(2) a {
    background: #1DA1F2
}

nav li:nth-child(3) a {
    background: #E1306C
}

nav li:nth-child(4) a {
    background: #ef3446
}

nav li:nth-child(5) a {
    background: #333
}

nav li:nth-child(6) a {
    background: #ff0000
}

nav li a i {
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 15px
}

ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase
}

a:hover {
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3)
}

ul li:hover a span {
    padding-left: 30%;
    display: block;
    font-size: 15px
}

@media screen and (max-width: 767px){
#wrapper {
    width: 100%;
}
.bql_derecho_admin {
    display: none;
}
}