
.table-responsive {
    overflow-x: auto;
    width: 90%;
    margin: 5%;
   
}
.link_tbl_lista {
    padding: 5px 5px;
    transition: all 0.4s;
    display: inline-block;
    width: 35%;
}

.options{
    display: inline-flex
}

.options button{
    margin: 0 9px 0 0;
    font-size: 16px;
}

.options .editar{

    background: #125570;

}









