img, svg .logo {
    vertical-align: middle;
    width: 46%;
}

.header {
    /* width: 100%; */
    text-align: center;
    margin: 0 auto;
    display: block;
    background: #faf8f8;
}

.header a.logo{

    display: inline-block;
    vertical-align: middle;
}


.header .mensaje{
    display: inline-block;    
}


.header .navbar {    
    display: inline-block;    
}

.header nav ul li a {    
    padding: .5rem 1rem !important;
    display: block;    
}

.header nav ul li button {    
    margin: 0 0 0 20.5rem;
    width: 37% !important;
}

.bus-btn .row {    
    padding: 3rem 0rem 0rem;
}

.bus-btn .buscador {    
    display: inline-block;
    width: 90%;
}

.bus-btn .buscador .form-outline {    
    width: 44%;
}

.bus-btn .ingresar {    
    display: inline-block;

}

.btn-primary {
    color: #fff;
    background-color: #125570;
    border-color: #125570;
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #607eab;
    border-color: #607eab;
}

/* .vertical-encuentra {
    justify-content: space-between;
    text-align: left;
    margin: 0 0 1%;
    align-items: center;
}


*/

.name{
    font-size: 2.2rem;
    font-family: none;
    display: inline-block;
    color: #255a7e;
    font-size:  28.1px;
  
} 

.cont_header {
    height: 72px;
    width: 100%;
    background: #eeeeee;
    padding: 0 0 0 112px;
}

header .cont_header_interior {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

header .logo_encabezado {
    margin: 0;
    display: inline-block;
    width: 7%;
    text-align: center;

} 

.menu_superior {
    padding: 0;
    width: 100%;
    margin-top: -127px;
}

.menu_superior .menu {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: 1
px
 solid rgb(255, 98, 98);
    list-style: none;
    text-align: right;
    margin: 0 auto;
    padding: 1.6% 8% 1.6% 1%;
    width: 100%;
}

.menu_superior .menu li {
    display: inline-block;   
;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.menu_superior .menu a {
    color: #fff;
    display: block;
    padding: 0px 16px;
    font-size: 1em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.menu_superior .menu a {
    font-size: 1.5em;
}


header .nom {
    display: inline-block;
    vertical-align: top;
    width: 21%;
    text-align: center;
    margin-left: -2%;
    margin-top: 0.5%;
} 


header .btn_cerrar {
    margin: 14px 0 -00 -138px;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    text-align: center;
    margin-left: 50%;

} 








