.cont_tamano{
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    width: 70%;
    height: 92vh;
    padding: 3% 0% 0% 0%;
  }
  
  .login-form {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
  }
  
  .logo_admin
  
  {
      text-align: center;
      margin:10px;
  }
  
  .logo_admin img
  {
      max-width: 60%;
      margin: 1.5% 0% 4% 0%;
  }
  .login-form .content {
    padding: 0 23px;
    text-align: center;
    position: relative;
  }
  
  .login-form .content .input {
    width: 100%;
    padding: 21px 15px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    background: #e8e8e8;
    border: 1px solid #fff;
  }
  .login-form .content .password, .login-form .content .pass-icon {
      margin-top: 15px;
  }
  
  .login-form .content .input:hover {
      background: #f4f4f4;
      color: #414848;
  }
  
  .login-form .content .input:focus {
      background: #f4f4f4;
      color: #414848;
  
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  }
  
  .content input:focus + div{
      left: -47px;
      z-index: 1;
      opacity: 10;
      transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -webkit-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
  }
  
  
  /* Login boton */
  .login-form .footer {
      padding: 0 25px;
  }
  
  .login-form .footer .boton {
    width: 100%;
    padding: 19px 25px;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    border: 1px solid #0b4967;
    cursor: pointer;
    background: #0b4967;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 14px 0 0 0;
  }
  
  .login-form .footer .boton:hover {
  border: 1px solid #26262626;
    background: #262626;
  }
  
  .login-form .footer .boton:focus {
  position: relative;
  bottom: -1px;
  }
  
  
  .remate_admin .logo_remate
  
  {
  
      width: 100%;
      text-align: center;
  }
  
  .remate_admin .logo_remate ul li
  
  {
      display: inline-block;
      *display: inline-block;
      width: 42px;
      margin: 0 5px;
  }
  
  .remate_admin .logo_remate img
  {
      max-width: 100%;
  }
  
  .remate_admin .derechos
  {
      width: 100%;
      margin: 15px 0;
  }
  
  .remate_admin .derechos p{
      text-align: center;
      color: #999;
      font-size: 12px;
  }
  
  .remate_admin .derechos p a{
      color:#000;
  }
  
  .remate_admin .derechos p a:hover{
      text-decoration: underline;
  }
  
  .remate_admin .derechos p a img{
      width: 8%;
      vertical-align: middle;
      margin: -0.5% 0 0 1.5%;
  }
  
  .remate_admin .derechos
  {
      width: 100%;
      margin: 15px 0;
  }
  
  .remate_admin .derechos p{
      text-align: center;
      color: #999;
      font-size: 12px;
  }
  
  .remate_admin .derechos p a{
      color:#000;
  }
  
  .remate_admin .derechos p a:hover{
      text-decoration: underline;
  }
  
  .remate_admin .derechos p a img{
      width: 8%;
      vertical-align: middle;
      margin: -0.5% 0 0 1.5%;
  }
  
  #cont_admin .cont_tamano{
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
    width: 70%;
    height: 92vh;
    padding: 3% 0% 0% 0%;
  }
  
  #cont_admin
  
  {
      width: 100%;
      margin: 0px auto;
      text-align: center;
      box-sizing: border-box;
      background: #0b4967;
      height: 100vh;
      background-size: cover;
  }
  
  #wrapper {
      /* Center wrapper perfectly */
      width: 38%;
      margin: 0;
      display: inline-block;
      left: 0;
      height: 82vh;
      background: #FFF;
      border: 1px solid #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      position: relative;
  }
  
  .info_contacto{
    padding: 1%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    /* position: absolute; */
    left: 0;
    bottom: 4px;
}

 .info_contacto div{
	width: 12%;
	margin: 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
    margin: 0% 0% -4% 0;
}

.info_contacto img{
	width: 100%;
}


.info_contacto .txt{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 -40px 0;
}

.cont_redes_inferior {
    width: 100%;
    margin: 9px 0 0 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-top: 0%;
    /* display: none; */
}

.redes_inferior {
    padding: 0;
    margin: 7px 0 0 0;
    text-align: center;
    display: inline-block;
    *display: inline-block;
    vertical-align: middle;
    width: 40%;
}

.cont_redes_inferior li {
    display: inline-block;
    margin: 0% 2% 0 2% !important;
    width: 10% !important;
    list-style: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.redes_inferior li a {
    padding: 0;
}

.cont_redes_inferior li img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 60%;
    
}

.camp_requerido {
    color: #d40000;
    position: relative;
    background: #eee;
    padding: 8px 9px;
    border-radius: 5px;
    top: 5px;
    right: 0;
    font-size: 1em;
    text-transform: capitalize;
    line-height: 2;
}

.validacion {
    font-size: 14px;
    color: #D90000;
    margin: 5px 0;
}